---
mysql:
  root_password: xxxx
  wordpress:
    dbname: xxxx
    username: xxxx
    password: xxxx

wordpress_salts:
  AUTH_KEY:         xxxx
  SECURE_AUTH_KEY:  xxxx
  LOGGED_IN_KEY:    xxxx
  NONCE_KEY:        xxxx
  AUTH_SALT:        xxxx
  SECURE_AUTH_SALT: xxxx
  LOGGED_IN_SALT:   xxxx
  NONCE_SALT:       xxxx

backup:
  archive_path: /home/ubuntu/wordpress/wp-content/uploads
  s3:
    id: xxxx
    secret: xxxx
    bucket: xxxx
    region: xxxx
  mail:
    from: xxxx
    to: xxxx
    address: xxxx
    domain: xxxx
    user_name: xxxx
    password: xxxx
